#photos {
  display: block;
}

#offering-info {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
}

#left-col {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right-col {
  order: 2;
  flex-grow: 1;
}

#description,
#amenities,
#calendar,
#host-bio,
#neighborhood,
#map,
#policies,
#similar,
#other-things {
  width: 100%;
}

#similar,
#other-things {
  width: 100%
}

#reviews {
  margin-bottom: 20px;
}

#reservations {
  display: inline-block;
}